{
    "presets": ["react-app"],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "components": "./src/components",
                "config": "./src/config/development.js",
                "actions": "./src/actions",
                "src": "./src",
                "svg": "./src/svg",
                "utils": "./src/utils",
                "reducers": "./src/reducers",
                "myConfig": "./src/config"
            }
        }]
    ]
}